@define-color color1 #cc241d;
@define-color color2 #98971a;
@define-color color3 #d79921;
@define-color color4 #458588;
@define-color color5 #b16286;
@define-color color6 #689d6a;
@define-color color7 #d65d0e;
@define-color color8 #fbf1c7;

@define-color background #282828;
@define-color background2 #3c3836;
